.previousBtn, .nextBtn {
    width: fit-content;
    height: 50px;
    background-color: #E72178;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 1rem;
    text-align: center;
    margin-top: 53px;
}